body {
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 80%; /* 縮短輸入框底線寬度 */
    padding: 10px;
    border: none;
    border-bottom: 2px solid #00acc1;
    outline: none;
    transition: all 0.3s ease;
}

.input-group label {
    position: absolute;
    left: 5%; 
    top: 10px;
    color: #00acc1;
    font-size: 16px;
    transition: all 0.3s ease;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -20px;
    font-size: 12px;
    color: #007c91;
}

.btn {
    background-color: #007c91;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 80%; /* 調整登入按鈕寬度與底線一致 */
}

.btn:hover {
    transform: scale(1.1);
}

.register-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-section span {
    color: #005f73; /* 調整還沒有帳號的字體顏色 */
    font-size: 14px;
    margin-right: 10px;
}

.register-btn {
    background-color: #0288d1; /* 註冊按鈕使用不同但同色調的顏色 */
  
}
